<html ng-app="app">

<head>
  <link href="libs/boostrap/css/bootstrap.css" rel="stylesheet" />
  <link href="css/theme.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
</head>

<body ng-controller="indexCtrl">
  <h1>{{titulo}}</h1>

  <form name="formComida" ng-submit="adicionar(formComida)" novalidate>
    <input type="text" ng-model="novaComida.nome" name="nome" placeholder="Comida" required />
    <div class="erro" ng-show="(formComida.$submitted || formComida.nome.$touched) && formComida.nome.$error.required">
      Esse campo e obrigatorio
    </div>

    <input type="text" ng-model="novaComida.sabor" name="sabor" placeholder="Sabor" required />
    <div class="erro" ng-show="(formComida.$submitted || formComida.sabor.$touched) && formComida.sabor.$error.required">
      Esse campo e obrigatorio
    </div>

    <button>Adicionar</button>
  </form>

  <input type="text" ng-model="pesquisa" placeholder="Pesquisa" />

  <br>
  <br>

  <table>
    <thead>
      <tr>
        <th>Comida</th>
        <th>Sabor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in comida | filter:pesquisa">
        <td>
          {{item.nome}}
        </td>
        <td>
          {{item.sabor}}
        </td>
        <td>
          <button ng-click="remover($index, item)">
            Remover
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <script src="libs/angular/angular.min.js"></script>
  <script src="libs/angular/ui-bootstrap-tpls-1.1.2.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/app.controllers.js"></script>
  <script src="js/app.filters.js"></script>
  <script src="js/app.directives.js"></script>
  <script src="js/app.services.js"></script>

</body>

</html>